@media only screen and (max-width: 1200px) {
  section {
    width: 1265px;
  }

  /*intro section*/
  .intro {
    height: 600px;
  }
  .heading {
    left: 280px;
    font-size: 15vh;
    width: 700px;
  }
  .subheading {
    left: 412px;
    font-size: 30px;
  }
  .subsubheading {
    left: 530px;
    top: 370px;
    font-size: 30px;
  }
  .line {
    font-size: 6vh;
    left: 480px;
  }
  .more {
    font-size: 4vh;
    left: 600px;
    top: 520px;
  }
  .entry {
    top: 100px;
    left: 200px;
    width: 130px;
    height: 60px;
    border-radius: 42px/42px;
    font-size: 5vh;
  }
  .order {
    transform: translate(-50%, -50%);
    top: 100px;
    left: 1000px;
    width: 245px;
    height: 60px;
    border-radius: 42px/42px;
    font-size: 5vh;
  }
  .logo {
    left: 1122px;
  }

  /*whatis section*/
  .whatis {
    height: 450px;
  }
  .proud {
    left: 590px;
    font-size: 35px;
    top: 605px;
    width: 650px;
    text-align: center;
  }
  .collarphoto {
    left: 90px;
    top: 690px;
  }
  .pros {
    left: 80px;
    top: 610px;
  }
  .pros p {
    font-size: 20px;
  }
  .pro3 {
    left: 1000px;
  }
  .pro6 {
    left: 970px;
  }
  .pro6 p {
    padding: -2px 0px;
  }
  .pro2 {
    left: 790px;
  }
  .pro5 {
    left: 780px;
  }
  .pro1 {
    left: 530px;
    width: 200px;
  }
  .pro4 {
    left: 530px;
  }

  /*statictics section*/
  .title {
    font-size: 35px;
    left: 350px;
    top: 1030px;
  }
  .statgreen {
    top: 1200px;
  }
  .statyellow {
    top: 1200px;
    left: 970px;
  }
  .st1 {
    left: 350px;
    top: 1220px;
    font-size: 25px;
  }
  .st2 {
    left: 350px;
    top: 1330px;
    font-size: 25px;
    width: 250px;
  }
  .st3 {
    left: 708px;
    top: 1220px;
    font-size: 25px;
    width: 250px;
  }
  .st4 {
    left: 708px;
    top: 1330px;
    font-size: 25px;
    width: 250px;
  }
  .percentage {
    font-size: 35px;
  }

  /*whatsay section*/
  .accounts {
    height: 715px;
  }
  .comment {
    width: 600px;
    height: 90px;
  }

  .comment4 {
    top: 2130px;
    left: 322px;
  }
  .com4txt {
    left: 332px;
    top: 2134px;
    font-size: 15px;
    padding: 7px 2px;
    width: 585px;
  }
  .acc4ph {
    left: 943px;
    top: 2100px;
  }

  .comment3 {
    left: 322px;
    top: 2000px;
  }
  .com3txt {
    left: 340px;
    top: 2015px;
    font-size: 15px;
    padding: 7px 1px;
    width: 550px;
  }
  .acc3ph {
    left: 180px;
    top: 1980px;
  }

  .comment2 {
    left: 322px;
    top: 1875px;
  }
  .com2txt {
    left: 350px;
    top: 1880px;
    font-size: 15px;
    padding: 7px 1px;
    width: 550px;
  }
  .acc2ph {
    left: 945px;
    top: 1850px;
  }

  .comment1 {
    left: 322px;
    top: 1750px;
  }
  .com1txt {
    left: 340px;
    top: 1748px;
    font-size: 15px;
    padding: 7px 1px;
    width: 550px;
  }
  .acc1ph {
    left: 180px;
    top: 1725px;
  }

  .whatsay {
    top: 1550px;
    font-size: 35px;
  }
  .bones1 {
    left: 960px;
    top: 1650px;
  }
  .bones2 {
    left: 40px;
    top: 2100px;
  }
  .work {
    height: 1000px;
  }
  .howworks {
    top: 2250px;
    left: 490px;
    font-size: 8vh;
  }
  .greenline {
    padding-top: 30px;
    padding-left: 304px;
    font-size: 62.5px;
  }
  .step1,
  .step2,
  .step3 {
    top: 2340px;
  }
  .step2 {
    left: 550px;
    padding-top: 9px;
  }
  .step3 {
    left: 900px;
  }
  .orderend {
    left: 505px;
  }
  .orderendtxt {
    left: 590px;
    top: 3065px;
    font-size: 20px;
  }
  .contacts {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .heading {
    width: 1000px;
    font-size: 60px;
    left: 130px;
  }
  .subheading {
    left: 410px;
  }
  .subsubheading {
    left: 525px;
  }
  .more {
    top: 535px;
  }
  .order {
    width: 270px;
    left: 980px;
  }
  .whatsay {
    font-size: 40px;
    width: 700px;
    left: 273px;
  }
}
