input {
  border: 0.3vh solid red;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}
.pet {
  margin-bottom: 300px;
  display: flex;
  flex-direction: row;
  border: 0.3vh solid brown;
}
