body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0%;
  width: 100%;
  color: #707070;
  background-color: #fdf9ee;
}

.top {
  height: 140vh;
  margin-top: 2%;
}

.head {
  position: static;
  font-weight: 700;
  text-align: center;
  font-size: 4vh;
  width: 50vh;
  margin-left: 6%;
  margin-top: 7%;
}

#owninf {
  position: static;
  font-size: 2vh;
  font-weight: 700;
  margin-left: 4%;
}

.window {
  background-color: #fff1cf;
  height: auto;
  width: 94%;
  margin-left: 3%;
  border-radius: 1vh/1vh;
  padding-bottom: 4%;
  padding-top: 4%;
}

img {
  width: 17vh;
  margin-left: 1.5vh;
  /*margin-top: 3vh;*/
}

input {
  position: static;
  border-radius: 5vh/5vh;
  background-color: white;
  height: 3.5vh;
  font-size: 2.5vh;
  text-align: center;
  border: none;
  padding: 0.1vh;
}

.window p {
  position: static;
  font-size: 2.3vh;
  font-weight: 600;
}

#name {
  margin-left: 19vh;
  margin-top: -21vh;
  width: auto;
  text-align: center;
}
.name {
  width: 32vh;
}

#tg {
  margin-top: -1vh;
  margin-left: 3vh;
  width: auto;
  text-align: center;
}
.tg {
  width: 15vh;
}

#insta {
  margin-top: -11.4vh;
  margin-left: 35vh;
  width: auto;
  text-align: center;
}
.insta {
  width: 15vh;
}

#phone {
  margin-top: -1.5vh;
  margin-left: -29vh;
  width: auto;
  text-align: center;
}
.phone {
  width: 22vh;
}

#email {
  margin-top: -11.4vh;
  margin-left: 24vh;
  width: auto;
  text-align: center;
}
.email {
  width: 28vh;
}

#country {
  margin-top: -2vh;
  margin-left: -29vh;
  width: auto;
  text-align: center;
}
.country {
  width: 22vh;
}

#city {
  margin-top: -11.3vh;
  margin-left: 24vh;
  width: auto;
  text-align: center;
}
.city {
  width: 28vh;
}

#street {
  margin-top: -2vh;
  margin-left: -21vh;
  width: auto;
  text-align: center;
}
.street {
  width: 30vh;
}

#house {
  margin-top: -11.3vh;
  margin-left: 21vh;
  width: auto;
  text-align: center;
}
.house {
  width: 8vh;
}

#flat {
  margin-top: -11.3vh;
  margin-left: 41vh;
  width: auto;
  text-align: center;
}
.flat {
  width: 8vh;
}

.location {
  padding: 2%;
  height: 15vh;
  width: 88%;
  margin-left: 4%;
  border-radius: 1vh/1vh;
  font-size: 0.9vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

.send {
  background-color: #a1bda6;
  color: #e5f6e8;
  border-radius: 5vh/5vh;
  width: auto;
  height: auto;
  font-size: 2.2vh;
  padding: 2%;
  border: none;
  font-weight: 700;
  margin-left: 71%;
  cursor: pointer;
  margin-top: 3%;
}

.sent {
  margin: 2vh;
  width: 83%;
  height: 5%;
  border: solid #707070 0.05vh;
  border-radius: 1vh/1vh;
  font-size: 2vh;
  text-align: center;
  background-color: white;
  font-weight: 700;
  padding: 5%;
  padding-top: 9%;
}
