body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
label {
  color: #fee097;
  font-weight: 900;
  font-size: 1.5vh;
  text-align: center;
}
.main {
  background-color: #f3eccf;
}
.call {
  background-color: #fee097;
}
.work {
  background-color: #f3eccf;
}
.contacts {
  background-color: #fee097;
}
.menu {
  position: fixed;
  left: 30%;
  top: 8%;
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  background-color: #4d4e4b;
  transition: 0.5s;
  opacity: 0.85;
}
.profile-menu {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  top: 0.5vh;
  flex-direction: column;
  font-family: sans-serif;
}
.profile-menu input[type="text"],
.profile-menu input[type="email"],
.profile-menu input[type="phone"],
.profile-menu input[type="password"] {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 0.5vh solid #f3eccf;
  padding: 5% 4%;
  height: 1.5vh;
  width: 30vh;
  outline: none;
  border-radius: 40%;
  transition: 0.25s;
  color: whitesmoke;
  font-size: 2vh;
  font-weight: 700;
}
.profile-menu input[type="text"]:focus,
.profile-menu input[type="email"]:focus,
.profile-menu input[type="phone"]:focus,
.profile-menu input[type="password"]:focus {
  width: 35vh;
  border: 0.5vh solid #fee097;
}
input::-webkit-input-placeholder {
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.5vh;
  transform: translateY(-0.5vh);
}
h1 {
  color: #fee097;
  font-weight: 900;
  font-size: 3vh;
}
.navbar {
  position: fixed;
  left: 0.8%;
  top: 0;
  width: 98.4%;
  height: 7%;
  display: flex;
  justify-content: center;
  background-color: #4d4e4b;
  transition: 0.5s;
  opacity: 0.85;
  font-size: 5vh;
  list-style-type: none;
  transform: skewX(-25deg);
}
li {
  position: relative;
  color: whitesmoke;
  padding: 1.5vh 1vh;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5vh;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-right: 0.3vh solid #c0bba7;
  border-left: 0.3vh solid #c0bba7;
}
li a {
  text-decoration: none;
  color: #fee097;
}
.navbar a:hover {
  border-bottom: 0.5vh solid #c0bba7;
  width: 100%;
  height: 100%;
}
.choosen {
  border-bottom: 0.5vh solid #c0bba7;
  width: 100%;
  height: 100%;
}
.phone-number {
  display: flex;
  flex-direction: row;
}
.code-area {
  display: flex;
  flex-direction: column;
}
.phone-area {
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
}
select {
  background: none;
  display: block;
  text-align: center;
  border: 0.5vh solid #f3eccf;
  padding: 3% 4%;
  width: 23vh;
  outline: none;
  border-radius: 40%;
  color: whitesmoke;
  font-size: 2vh;
  font-weight: 700;
}
option {
  background-color: #4d4e4b;
  text-align: center;
  color: whitesmoke;
}
.confirm {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 60vh;
}
.confirm-button {
  margin-top: 3vh;
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 0.5vh solid #fee097;
  padding: 5% 20%;
  outline: none;
  border-radius: 5vh;
  transition: 0.25s;
  color: tomato;
  cursor: pointer;
  font-weight: 700;
  font-size: 2.5vh;
}
.confirm-button:hover {
  background: #fee097;
  font-size: 3vh;
}
.msg-label {
  color: tomato;
}
.msg {
  text-align: center;
  left: 2%;
  font-size: 1.5vh;
  color: tomato;
}
.msgtrue {
  text-align: center;
  left: 2%;
  font-size: 1.5vh;
  color: rgb(11, 170, 11);
}
