body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
label {
  color: #fee097;
  font-weight: 900;
  font-size: 1.5vh;
}
.main {
  background-color: #f3eccf;
}
.call {
  background-color: #fee097;
}
.work {
  background-color: #f3eccf;
}
.contacts {
  background-color: #fee097;
}
.menu {
  position: fixed;
  left: 5vh;
  top: 7%;
  width: 20%;
  height: 93%;
  display: flex;
  justify-content: center;
  background-color: #4d4e4b;
  transition: 0.5s;
  opacity: 0.85;
}
.profile-menu {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 93%;
  top: 0.5vh;
  flex-direction: column;
  font-family: sans-serif;
}
.profile-menu input[type="text"],
.profile-menu input[type="email"] {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 0.5vh solid #f3eccf;
  padding: 5% 4%;
  height: 1.5vh;
  width: 30vh;
  outline: none;
  border-radius: 40%;
  transition: 0.25s;
  color: whitesmoke;
  font-size: 1.5vh;
  font-weight: 700;
}
input::-webkit-input-placeholder {
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.5vh;
  transform: translateY(-0.5vh);
}
h1 {
  color: #fee097;
  font-weight: 900;
  font-size: 3vh;
}
.navbar {
  position: fixed;
  left: 0.8%;
  top: 0;
  width: 98.4%;
  height: 7%;
  display: flex;
  justify-content: center;
  background-color: #4d4e4b;
  transition: 0.5s;
  opacity: 0.85;
  font-size: 5vh;
  list-style-type: none;
  transform: skewX(-25deg);
}
li {
  position: relative;
  color: whitesmoke;
  padding: 1.5vh 1vh;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5vh;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-right: 0.3vh solid #c0bba7;
  border-left: 0.3vh solid #c0bba7;
}
li a {
  text-decoration: none;
  color: #fee097;
}
.navbar a:hover {
  border-bottom: 0.5vh solid #c0bba7;
  width: 100%;
  height: 100%;
}
.choosen {
  border-bottom: 0.5vh solid #c0bba7;
  width: 100%;
  height: 100%;
}
.menu-checkbox {
  position: fixed;
  right: 2vh;
  top: 8vh;
  width: 10vh;
  height: 5vh;
  z-index: 2;
  background: #676964;
  pointer-events: none;
  transform: skewX(-15deg);
  display: flex;
  transition: 0.5s;
}
.menu-checkbox::before {
  content: "HIDE";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fee097;
  text-align: center;
  line-height: 250%;
  font-size: 2vh;
  transform: skewX(-15deg);
}
input[type="checkbox"] {
  position: fixed;
  right: 2vh;
  top: 8vh;
  width: 10vh;
  height: 5vh;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transform: skewX(-15deg);
}
input[type="checkbox"]:checked ~ .menu-checkbox::before {
  content: "PROFILE";
}
input[type="checkbox"]:checked ~ .menu {
  left: -30%;
}
input[type="checkbox"]:checked ~ .navbar {
  top: -7.5%;
}
input[type="checkbox"]:checked ~ .logout-form {
  left: 105%;
}
input[type="checkbox"]:checked ~ .menu-checkbox {
  top: 3vh;
}
input[type="checkbox"]:checked {
  top: 3vh;
}
img {
  margin-top: 0.5vh;
  height: 20vh;
  width: 20vh;
  border: 1vh solid #fee097;
}
.logout-form {
  top: 95%;
  left: 96%;
  position: fixed;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
button {
  color: tomato;
  text-align: center;
  font-size: 2vh;
  background-color: #676964;
  display: flex;
  position: fixed;
  justify-content: center;
  transition: 0.5s;
  transform: skewX(-15deg);
  font-weight: 700;
}
