body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main {
  background-color: #f3eccf;
}
.call {
  background-color: #fee097;
}
.work {
  background-color: #f3eccf;
}
.contacts {
  background-color: #fee097;
}
.menu {
  position: fixed;
  left: 5vh;
  top: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #4d4e4b;
  transition: 0.5s;
  opacity: 0.85;
}
.aut-list {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  flex-direction: column;
  font-family: sans-serif;
}
.aut-list input[type="text"],
.aut-list input[type="password"] {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 0.5vh solid #f3eccf;
  padding: 5% 4%;
  height: 2vh;
  width: 20vh;
  outline: none;
  border-radius: 40%;
  transition: 0.25s;
  color: whitesmoke;
  font-size: 1.5vh;
}
.aut-list input[type="text"]:focus,
.aut-list input[type="password"]:focus {
  width: 25vh;
  border-color: #fee097;
}
input::-webkit-input-placeholder {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.5vh;
  transform: translateY(-0.5vh);
}
h1 {
  color: #fee097;
  font-weight: 900;
  font-size: 3vh;
}
.aut-list button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 0.5vh solid #fee097;
  padding: 5% 20%;
  outline: none;
  border-radius: 5vh;
  transition: 0.25s;
  color: black;
  cursor: pointer;
  font-weight: 700;
  font-size: 2vh;
}
.aut-list button[type="submit"]:hover {
  background: #fee097;
  font-size: 2.5vh;
}
.reg-list {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 47vh;
  top: 50vh;
  flex-direction: column;
  font-family: sans-serif;
}
.reg-list input[type="text"],
.reg-list input[type="password"],
.reg-list input[type="email"] {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 0.5vh solid #f3eccf;
  padding: 5% 4%;
  height: 2vh;
  width: 20vh;
  outline: none;
  border-radius: 40%;
  transition: 0.25s;
  color: whitesmoke;
  font-size: 1.5vh;
}
.reg-list input[type="text"]:focus,
.reg-list input[type="password"]:focus,
.reg-list input[type="email"]:focus {
  width: 25vh;
  border-color: #fee097;
}
.reg-list button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 0.5vh solid #fee097;
  padding: 5% 20%;
  outline: none;
  border-radius: 5vh;
  transition: 0.25s;
  color: black;
  cursor: pointer;
  font-weight: 700;
  font-size: 2vh;
}
.reg-list button[type="submit"]:hover {
  background: #fee097;
  font-size: 2.5vh;
}
.or {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10vh;
  color: #f3eccf;
  top: 40%;
  font-style: oblique;
}
input[type="checkbox"] {
  position: fixed;
  right: 2vh;
  top: 3vh;
  width: 7vh;
  height: 5vh;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transform: skewX(-15deg);
}
.menu-checkbox {
  position: fixed;
  right: 2vh;
  top: 3vh;
  width: 7vh;
  height: 5vh;
  z-index: 2;
  background: #676964;
  pointer-events: none;
  transform: skewX(-15deg);
}
.menu-checkbox::before {
  content: "HIDE";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fee097;
  text-align: center;
  line-height: 250%;
  font-size: 2vh;
  transform: skewX(-15deg);
}
input[type="checkbox"]:checked ~ .menu-checkbox::before {
  content: "MENU";
}
input[type="checkbox"]:checked ~ .menu {
  left: -30%;
}
.msg {
  text-align: center;
  left: 2%;
  font-size: 1.5vh;
  color: tomato;
}
.msgtrue {
  text-align: center;
  left: 2%;
  font-size: 1.5vh;
  color: rgb(11, 170, 11);
}
